{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="alert alert-dark" role="alert">
    <h5> 不具合がある場合にこちらからスキップできます </h5>
 </div>
 <div class="p-5 w-75 mx-auto">
    <form action="{% url 'bug_report' user.id %}" method="post">
        {% csrf_token %}
        {% if form %}
        <div class="pt-3">{% bootstrap_form form %}</div>
        {% endif %}
        <div class="d-grid gap-2 col-5 mx-auto mt-5">
            <!-- <a class="btn btn-outline-secondary" href="{% url 'progress' user.id %}" role="button">戻る</a> -->
            <button type="submit" class="btn btn-danger">スキップする</button>
        </div>
    </form>
</div>
{% endblock %}