{% extends 'base.html' %}

{% block header %}
{% if messages %}
{% for message in messages %}
<div class="{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="text-white text-center bg-dark p-3 p-sm-5">
    <h1 class="display-4">Petal Arrangement Estimater</h1>
</div>
{% endblock %}

{% block content %}
{% if finished_exp %}
<div class="text-black text-center bg-white p-3 p-sm-5">
    <h2>実験は終了です．ご協力ありがとうございました！</h2>

</div>
{% elif user_id %}
<div class="d-grid gap-2 col-5 mx-auto mt-2">
    <a href="{% url 'trial' user_id %}" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true">操作方法の確認</a>
    <a href="{% url 'progress' user_id %}" class="btn btn-primary  " tabindex="-1" role="button" aria-disabled="true">実験に進む</a>
    
</div>
{% else %}
<div class="d-grid gap-2 col-5 mx-auto mt-2">
    <a href="{% url 'login' %}" class="btn btn-primary  " tabindex="-1" role="button" aria-disabled="true">Login</a>
</div>
{% endif %}

<!-- <a href="https://drive.google.com/drive/folders/1Y0DMwsQVRCSYTmfHAKzo9uoloa1_2qBI?usp=sharing" class="btn btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">download sample image</a> -->
{% endblock content %}