{% extends 'base.html' %}

{% if messages %}
{% block header %}
{% for message in messages %}
<div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
    {{ message }}
</div>
{% endfor %}
<div class="text-white text-center bg-dark p-3 p-sm-5 rounded">
    <h1 class="display-4">Petal Arrangement Estimater</h1>
</div>
{% endblock %}
{% endif %}

{% block content %}
<div class="d-grid gap-2 col-5 mx-auto mt-2">
    <a href="{% url 'note' %}" class="btn btn-primary  " tabindex="-1" role="button" aria-disabled="true">next</a>
</div>

<!-- <a href="https://drive.google.com/drive/folders/1Y0DMwsQVRCSYTmfHAKzo9uoloa1_2qBI?usp=sharing" class="btn btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">download sample image</a> -->
{% endblock content %}