{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="alert alert-dark" role="alert">
    <h5> 推定結果 </h5>
    <p>次の内容で提出します</p>
 </div>

<div class="body">
    <div class="container-fluid">
        <img src='{{ path_img_lr }}' width='{{ width }}*2' height='{{ height }}*2' class="img-fluid d-block mx-auto">
    </div>
</div>
<div class="d-grid gap-2 col-5 mx-auto mt-2">
    <a class="btn btn-outline-primary" href="{% url 'img_lr' user.id %}" role="button">戻る</a>
</div>

    <form action="{% url 'manual_submit' user.id %}" method="post">
        {% csrf_token %}
        <div class="d-grid gap-2 col-5 mx-auto mt-2">
            <button type="submit" class="submit btn btn-primary">submit</button>
        </div>
    </form>
{% endblock %}
