
{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="20" style="width: {{ percentage_completed }}"></div>
</div>
<div class="text-black text-center bg-white p-3 p-sm-5">
    <h2>全画像30枚のうち、{{ user.num_finished_img }}枚の推定が完了しています</h2>
    <br>
    {% if user.use_system %}
    <h2>次は「提案システムを用いた推定」です</h2>
    {% else %}
    <h2>次は「提案システムを用いない、手作業での推定」です</h2>
    {% endif %}
</div>
{% if percentage_completed == '100%' %}
<div class="d-grid gap-2 col-5 mx-auto mt-2">
    <a href="{% url 'questionnaire' user.id %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">アンケートにご協力ください</a>
</div>
{% else %}
<form action="{% url 'progress' user.id %}" method="post">
    {% csrf_token %}
    <div class="d-grid gap-2 col-5 mx-auto mt-2">
        <button type="submit" class="submit btn btn-primary">次の画像へ</button>
    </div>
</form>
{% endif %}
{% endblock content %}

